APP_NAME=UAE Laundry Pro
APP_ENV=local
APP_DEBUG=true
APP_URL=https://laundrypro-api

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=laundrypro
DB_USERNAME=root
DB_PASSWORD=

API_BASE_URL=https://laundrypro-api/api/v1
CLOUD_API_BASE_URL=https://laundrypro-cloudapi.magnificentsolution.co.in/api/v1
# Local Dev Cloud API: https://cloud-api/api/v1
