{
    "openapi": "3.0.3",
    "info": {
        "title": "LaundryPro UAE \u2014 Cloud Central Multi-Tenant API",
        "version": "2.0.0",
        "description": "Authoritative Cloud Multi-Tenant REST API for Central Super-Admin, Licensing, and Franchise Sync Ingestion.",
        "contact": {
            "name": "LaundryPro Cloud Engineering",
            "email": "support@magnificentsolution.co.in"
        }
    },
    "servers": [
        {
            "url": "https://api.cloud.laundrypro.ae/v1",
            "description": "Production Cloud Gateway"
        },
        {
            "url": "http://127.0.0.1:8081",
            "description": "Local Cloud Staging / Dev"
        }
    ],
    "tags": [
        {
            "name": "Platform",
            "description": "Health checks and telemetry endpoints"
        },
        {
            "name": "Tenants",
            "description": "Multi-tenant organization registration and onboarding"
        },
        {
            "name": "Sync",
            "description": "Outbox/Inbox delta synchronization pipeline"
        },
        {
            "name": "License",
            "description": "3-Way hardware handshake and license activation"
        },
        {
            "name": "Reports",
            "description": "Cross-tenant aggregation and executive reporting"
        },
        {
            "name": "Backup",
            "description": "Encrypted snapshot storage and disaster recovery"
        },
        {
            "name": "SuperAdmin",
            "description": "Central control plane operations"
        },
        {
            "name": "Identity",
            "description": "Identity module endpoints"
        },
        {
            "name": "Configuration",
            "description": "Configuration module endpoints"
        },
        {
            "name": "Install",
            "description": "Install module endpoints"
        },
        {
            "name": "Customers",
            "description": "Customers module endpoints"
        },
        {
            "name": "Vendors",
            "description": "Vendors module endpoints"
        },
        {
            "name": "Catalog",
            "description": "Catalog module endpoints"
        },
        {
            "name": "Sales",
            "description": "Sales module endpoints"
        },
        {
            "name": "HR",
            "description": "HR module endpoints"
        },
        {
            "name": "Expenses",
            "description": "Expenses module endpoints"
        },
        {
            "name": "Delivery",
            "description": "Delivery module endpoints"
        },
        {
            "name": "Challans",
            "description": "Challans module endpoints"
        },
        {
            "name": "Purchasing",
            "description": "Purchasing module endpoints"
        },
        {
            "name": "Notifications",
            "description": "Notifications module endpoints"
        },
        {
            "name": "Inventory",
            "description": "Inventory module endpoints"
        },
        {
            "name": "Branches",
            "description": "Branches module endpoints"
        },
        {
            "name": "Terminals",
            "description": "Terminals module endpoints"
        },
        {
            "name": "LAN",
            "description": "LAN module endpoints"
        },
        {
            "name": "Analytics",
            "description": "Analytics module endpoints"
        },
        {
            "name": "Localization",
            "description": "Localization module endpoints"
        },
        {
            "name": "Channels",
            "description": "Channels module endpoints"
        },
        {
            "name": "Accounting",
            "description": "Accounting module endpoints"
        },
        {
            "name": "Storefront",
            "description": "Storefront module endpoints"
        },
        {
            "name": "Portal",
            "description": "Portal module endpoints"
        },
        {
            "name": "Advanced Cycles",
            "description": "Advanced Cycles module endpoints"
        },
        {
            "name": "Sterilization",
            "description": "Sterilization module endpoints"
        },
        {
            "name": "Equipment",
            "description": "Equipment module endpoints"
        },
        {
            "name": "Operators",
            "description": "Operators module endpoints"
        },
        {
            "name": "RFID",
            "description": "RFID module endpoints"
        }
    ],
    "paths": {
        "/api/v1/health": {
            "get": {
                "tags": [
                    "Platform"
                ],
                "summary": "Cloud system health status",
                "operationId": "cloudHealthCheck",
                "security": [],
                "responses": {
                    "200": {
                        "description": "System operational",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/businesses/register": {
            "post": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Register new tenant business node",
                "operationId": "registerTenantBusiness",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "cloud_token"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "cloud_token": {
                                        "type": "string"
                                    },
                                    "trade_license_no": {
                                        "type": "string"
                                    },
                                    "contact_email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "contact_phone": {
                                        "type": "string"
                                    },
                                    "country_code": {
                                        "type": "string",
                                        "default": "AE"
                                    },
                                    "city": {
                                        "type": "string",
                                        "default": "Dubai"
                                    },
                                    "max_branches": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "max_devices": {
                                        "type": "integer",
                                        "default": 1
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tenant registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/sync/push": {
            "post": {
                "tags": [
                    "Sync"
                ],
                "summary": "Inbound delta sync batch from local node to cloud",
                "operationId": "syncPushBatch",
                "security": [
                    {
                        "cloudTokenAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "batch"
                                ],
                                "properties": {
                                    "batch": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "entity_type",
                                                "entity_uuid",
                                                "operation",
                                                "payload"
                                            ],
                                            "properties": {
                                                "entity_type": {
                                                    "type": "string"
                                                },
                                                "entity_uuid": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "entity_local_id": {
                                                    "type": "integer"
                                                },
                                                "operation": {
                                                    "type": "string",
                                                    "enum": [
                                                        "INSERT",
                                                        "UPDATE",
                                                        "DELETE",
                                                        "create",
                                                        "update",
                                                        "delete"
                                                    ]
                                                },
                                                "payload": {
                                                    "type": "object"
                                                },
                                                "entity_version": {
                                                    "type": "integer"
                                                },
                                                "source_umac": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch processed successfully with accepted/rejected list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/sync/pull": {
            "get": {
                "tags": [
                    "Sync"
                ],
                "summary": "Extract cloud changes for local workstation inbox",
                "operationId": "syncPullBatch",
                "security": [
                    {
                        "cloudTokenAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ISO8601 timestamp cursor or sequence ID"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        },
                        "description": "Max number of changes to return"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Changes returned since cursor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/sync/backup": {
            "post": {
                "tags": [
                    "Backup"
                ],
                "summary": "Upload encrypted database backup snapshot to cloud",
                "operationId": "uploadBackupSnapshot",
                "security": [
                    {
                        "cloudTokenAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "backup_data"
                                ],
                                "properties": {
                                    "backup_data": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Base64 encoded encrypted SQL backup"
                                    },
                                    "filename": {
                                        "type": "string"
                                    },
                                    "checksum": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Backup received and stored",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/reports/aggregation": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Central multi-tenant revenue and transaction metrics",
                "operationId": "centralizedReports",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aggregated financial metrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/license/validate": {
            "post": {
                "tags": [
                    "License"
                ],
                "summary": "3-Way handshake license activation and hardware verification",
                "operationId": "validateLicenseKey",
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "license_key",
                                    "umac"
                                ],
                                "properties": {
                                    "license_key": {
                                        "type": "string"
                                    },
                                    "umac": {
                                        "type": "string",
                                        "description": "SHA-256 hardware fingerprint hash"
                                    },
                                    "workstation_name": {
                                        "type": "string"
                                    },
                                    "app_version": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "License verification result with plan parameters and cryptographic signature",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "License expired, revoked, or UMAC device limit exceeded"
                    }
                }
            }
        },
        "/api/v1/tenant/profile": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Get authenticated tenant business profile",
                "operationId": "getTenantProfile",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant profile details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tenant/customers": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "List tenant customers",
                "operationId": "listTenantCustomers",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated customer list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Register customer under tenant",
                "operationId": "createTenantCustomer",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "phone"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "emirate": {
                                        "type": "string"
                                    },
                                    "credit_limit": {
                                        "type": "number"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tenant/catalog/services": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "List catalog services for tenant",
                "operationId": "listTenantServices",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service catalog list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Add service to tenant catalog",
                "operationId": "createTenantService",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "price"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "service_code": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "number"
                                    },
                                    "turnaround_hours": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Service created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tenant/orders": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "List tenant sales orders",
                "operationId": "listTenantOrders",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Create sales order with UAE 5% VAT",
                "operationId": "createTenantOrder",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "items"
                                ],
                                "properties": {
                                    "customer_id": {
                                        "type": "integer"
                                    },
                                    "source_branch": {
                                        "type": "string"
                                    },
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "item_name",
                                                "unit_price"
                                            ],
                                            "properties": {
                                                "service_id": {
                                                    "type": "integer"
                                                },
                                                "item_name": {
                                                    "type": "string"
                                                },
                                                "quantity": {
                                                    "type": "integer"
                                                },
                                                "unit_price": {
                                                    "type": "number"
                                                },
                                                "notes": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Order created with VAT breakdown",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tenant/reports/summary": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get tenant sales, customer and VAT metrics",
                "operationId": "getTenantReportsSummary",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Summary financial and operational metrics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Platform"
                ],
                "summary": "Health check",
                "operationId": "cloud_get_health_index",
                "responses": {
                    "200": {
                        "description": "HEALTH_OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/docs/openapi.json": {
            "get": {
                "tags": [
                    "Platform"
                ],
                "summary": "Live OpenAPI specification",
                "operationId": "cloud_get_docs_openapi.json_openapi",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/docs": {
            "get": {
                "tags": [
                    "Platform"
                ],
                "summary": "Swagger UI documentation shell",
                "operationId": "cloud_get_docs_index",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Identity"
                ],
                "summary": "Login with username and password",
                "operationId": "cloud_post_auth_login_login",
                "responses": {
                    "200": {
                        "description": "AUTH_LOGIN_SUCCESS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_INVALID_CREDENTIALS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Identity"
                ],
                "summary": "Refresh access token",
                "operationId": "cloud_post_auth_refresh_refresh",
                "responses": {
                    "200": {
                        "description": "AUTH_REFRESH_SUCCESS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Identity"
                ],
                "summary": "Logout and revoke refresh token",
                "operationId": "cloud_post_auth_logout_logout",
                "responses": {
                    "200": {
                        "description": "AUTH_LOGOUT_SUCCESS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/auth/me": {
            "get": {
                "tags": [
                    "Identity"
                ],
                "summary": "Current authenticated user",
                "operationId": "cloud_get_auth_me_me",
                "responses": {
                    "200": {
                        "description": "AUTH_ME_SUCCESS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/settings": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "List application settings",
                "operationId": "cloud_get_settings_index",
                "responses": {
                    "200": {
                        "description": "SETTINGS_LIST",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Update application settings",
                "operationId": "cloud_put_settings_update",
                "responses": {
                    "200": {
                        "description": "SETTINGS_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "FORBIDDEN",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettingsUpdateRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/roles": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "List roles and permissions",
                "operationId": "cloud_get_roles_index",
                "responses": {
                    "200": {
                        "description": "ROLES_FETCHED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Create role",
                "operationId": "cloud_post_roles_store",
                "responses": {
                    "201": {
                        "description": "ROLE_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "DUPLICATE_ROLE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/roles/{id}": {
            "put": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Update role",
                "operationId": "cloud_put_roles_id_update",
                "responses": {
                    "200": {
                        "description": "ROLE_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "DUPLICATE_ROLE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/business": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Get business profile",
                "operationId": "cloud_get_business_show",
                "responses": {
                    "200": {
                        "description": "BUSINESS_PROFILE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Update business profile",
                "operationId": "cloud_put_business_update",
                "responses": {
                    "200": {
                        "description": "BUSINESS_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/install/status": {
            "get": {
                "tags": [
                    "Install"
                ],
                "summary": "Installation status",
                "operationId": "cloud_get_install_status_status",
                "responses": {
                    "200": {
                        "description": "INSTALL_STATUS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SERVER_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/install/migrate": {
            "post": {
                "tags": [
                    "Install"
                ],
                "summary": "Run pending database migrations",
                "operationId": "cloud_post_install_migrate_migrate",
                "responses": {
                    "200": {
                        "description": "INSTALL_MIGRATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "INSTALL_UNAUTHORIZED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "INSTALL_LOCKED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/install/seed": {
            "post": {
                "tags": [
                    "Install"
                ],
                "summary": "Run database seeds and set admin password",
                "operationId": "cloud_post_install_seed_seed",
                "responses": {
                    "200": {
                        "description": "INSTALL_SEEDED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "INSTALL_UNAUTHORIZED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "INSTALL_LOCKED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SeedRequest"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/install/complete": {
            "post": {
                "tags": [
                    "Install"
                ],
                "summary": "Lock installer after successful setup",
                "operationId": "cloud_post_install_complete_complete",
                "responses": {
                    "200": {
                        "description": "INSTALL_COMPLETE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "INSTALL_UNAUTHORIZED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "INSTALL_LOCKED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "MIGRATIONS_PENDING",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "RATE_LIMIT_EXCEEDED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "List customers",
                "operationId": "cloud_get_customers_index",
                "responses": {
                    "200": {
                        "description": "CUSTOMERS_LIST",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "AUTH_SESSION_EXPIRED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "FORBIDDEN",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Create customer",
                "operationId": "cloud_post_customers_store",
                "responses": {
                    "201": {
                        "description": "CUSTOMER_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/customers/{id}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Get customer",
                "operationId": "cloud_get_customers_id_show",
                "responses": {
                    "200": {
                        "description": "CUSTOMER_DETAIL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Customers"
                ],
                "summary": "Update customer",
                "operationId": "cloud_put_customers_id_update",
                "responses": {
                    "200": {
                        "description": "CUSTOMER_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/vendors": {
            "get": {
                "tags": [
                    "Vendors"
                ],
                "summary": "List vendors",
                "operationId": "cloud_get_vendors_index",
                "responses": {
                    "200": {
                        "description": "VENDORS_LIST",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vendors"
                ],
                "summary": "Create vendor",
                "operationId": "cloud_post_vendors_store",
                "responses": {
                    "201": {
                        "description": "VENDOR_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/vendors/{id}": {
            "get": {
                "tags": [
                    "Vendors"
                ],
                "summary": "Get vendor",
                "operationId": "cloud_get_vendors_id_show",
                "responses": {
                    "200": {
                        "description": "VENDOR_DETAIL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Vendors"
                ],
                "summary": "Update vendor",
                "operationId": "cloud_put_vendors_id_update",
                "responses": {
                    "200": {
                        "description": "VENDOR_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/services": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List services",
                "operationId": "cloud_get_services_services",
                "responses": {
                    "200": {
                        "description": "SERVICES_LIST",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Create service",
                "operationId": "cloud_post_services_createservice",
                "responses": {
                    "201": {
                        "description": "SERVICE_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/services/{id}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Get service",
                "operationId": "cloud_get_services_id_showservice",
                "responses": {
                    "200": {
                        "description": "SERVICE_DETAIL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Update service",
                "operationId": "cloud_put_services_id_updateservice",
                "responses": {
                    "200": {
                        "description": "SERVICE_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "HIERARCHY_CYCLE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/services/{id}/products": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List service products",
                "operationId": "cloud_get_services_id_products_serviceproducts",
                "responses": {
                    "200": {
                        "description": "SERVICE_PRODUCTS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Attach product to service",
                "operationId": "cloud_post_services_id_products_attachserviceproduct",
                "responses": {
                    "201": {
                        "description": "SERVICE_PRODUCT_ATTACHED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/services/{id}/products/{productId}": {
            "delete": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Detach product from service",
                "operationId": "cloud_delete_services_id_products_productid_detachserviceproduct",
                "responses": {
                    "200": {
                        "description": "SERVICE_PRODUCT_DETACHED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/services/{id}/modifiers": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List service modifiers",
                "operationId": "cloud_get_services_id_modifiers_servicemodifiers",
                "responses": {
                    "200": {
                        "description": "SERVICE_MODIFIERS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Create service modifier",
                "operationId": "cloud_post_services_id_modifiers_createservicemodifier",
                "responses": {
                    "201": {
                        "description": "SERVICE_MODIFIER_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/products/{id}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Get product",
                "operationId": "cloud_get_products_id_showproduct",
                "responses": {
                    "200": {
                        "description": "PRODUCT_DETAIL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Update product",
                "operationId": "cloud_put_products_id_updateproduct",
                "responses": {
                    "200": {
                        "description": "PRODUCT_UPDATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "HIERARCHY_CYCLE",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/products/{id}/modifiers": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List product modifiers",
                "operationId": "cloud_get_products_id_modifiers_productmodifiers",
                "responses": {
                    "200": {
                        "description": "PRODUCT_MODIFIERS",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Create product modifier",
                "operationId": "cloud_post_products_id_modifiers_createproductmodifier",
                "responses": {
                    "201": {
                        "description": "PRODUCT_MODIFIER_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NOT_FOUND",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "summary": "List products",
                "operationId": "cloud_get_products_products",
                "responses": {
                    "200": {
                        "description": "PRODUCTS_LIST",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catalog"
                ],
                "summary": "Create product",
                "operationId": "cloud_post_products_createproduct",
                "responses": {
                    "201": {
                        "description": "PRODUCT_CREATED",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "VALIDATION_ERROR",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "cloudTokenAuth": []
                    }
                ]
            }
        },
        "/sales": {
            "get": {
                "tags": [
                    "Sales"
                ],
                "summary": "List sales orders",
                "operationId": "cloud_get_sales_index",
                "responses": {
                    "200": {
                        "description": "SALES_LIST",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiEnvelope"
                                }
                            }
                        }
                    },
                    "401": {
[...]
